body {
	margin: auto 0px;
}

.entry {
	z-index: 10;
	position: absolute;
}

.entry_panel {
	z-index: 2;
	position: absolute;
	background-color: #333;
	height: 150px;
	width: 300px;
	top: 300px;
	left: 500px;
	display: none;
}